*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #002307;
    background-image: url(/assest/img/soccer-field-from-above.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.scoreboard{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    
}
.team{
    text-align: center;
    margin: 20px;
    background-color: #0e1c36;
    border: none;
    border-radius: 10px;
    padding: 0px 50px ;
}
.team button{
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: #ebdf17;
}
.field-end{
    height: 100%;
    width: 100%; 
}

 

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
